<!DOCTYPE html>
    <html>
        <head> 
            <title>Connect 4</title>
        </head>
        <body>
            <link rel="stylesheet" href="stylesheets/splash.css"/>
            <script src="javascripts/splash.js"></script>
            <body onLoad="doCookie()"></body>
            <main>
                <h1>
                    <strong>Welcome to Connect 4</strong>
                    <div class="madeby">
                        <img src="images/meloenkleiner.jpg" alt="watermelon: https://search.creativecommons.org/photos/b1359737-a85d-4c55-9363-6b66fdb6827a">
                        <h4>By </h4>
                    </div>
                </h1>
                <div class="Startbutton">
                    <a href="game">
                        <button class="Startbutton">Start Game</button>
                    </a href="game">
                </div>
                <div class="imageandhowto">
                    <div class="Splashimage">
                        <img src="images/testc4splash2.png" alt="splashart">
                    </div>
                    <div class="howto">
                        <h5>
                            How to play: The name suggests alot.
                            <br/> You always play as red, and your enemy as yellow.
                            <br/> The player that waited in an empty lobby is allowed to start.
                            <br/> Each player takes turns adding their circles to the grid in an attempt to connect 4.
                            <br/> To add a circle, simple click any space in the column you want to add a circle to.
                            <br/> The first player to create an uninterrupted line (straight or diagonal)
                            <br/> of 4 circles of their colour takes the victory, ending the game.
                        </h5>
                    </div>
                </div>
                <ul>
                    <h3>
                        Games started: <%= started %>
                        <br/>Games finished: <%= finished %>
                        <br/>Games abandoned: <%= abandoned %>
                    </h3>
                </ul>
                <div class="Visits"></div>
            </main>
        </body>
    </html>