@import "style.css";

@keyframes animation2 {
    0% {color: red;}
    25% {color: orange;}
    50% {color: yellow;}
    75% {color: orange;}
    100% {color: red;}
}

h1 {
    animation-name: animation2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

h2 {
    font-size: xx-large;
    text-align: center;
}

p {
    position: relative;
    left: 7%;
}

.Board {
    height: 700px;
    margin-left: 15%;
    margin-right: 15%;
    background: rgb(63, 72, 204);
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Slot {
    margin-top: 5px;
    margin-left: 12%;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    height: 80%;
    width: 75%;
    text-align: center;
    padding: .3rem;
    font-size: 3rem;
}

h5 {
    border: solid;
    max-width: 170px;
}

h5::before {
    content: "To";
}

h5::after {
    content: "'esc'";
}